umap-learn
librosa==0.8.1
matplotlib>=3.3.0
numpy==1.19.3; platform_system == "Windows"
numpy==1.19.4; platform_system != "Windows"
scipy>=1.0.0
Unidecode
inflect
webrtcvad; platform_system != "Windows"
pypinyin
webrtcvad-wheels; platform_system == "Windows"